/*!!! Fix Style !!!*/

:root {
  --color-1: #cb8a58;
  --color-2: #562b1a;
  --color-text:#000000;
  --border-item: ##bfbdc0;
  --search-bar:#F8F7FA;
  --border-search-bar:#627281;
  --border-categories:#846046;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  /* font-family: var(--primary-font); */
}

/*!!! Component !!!*/





/*!!! Helpers Class !!!*/







/*!!! App Style !!!*/

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}



/* 
============
    Header     
============
*/





/* 
===========
    Nav 
===========
  */
